vuln-db-backend/env/
vuln-db-frontend/node_modules/
node_modules/
/node_modules/
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.env
vuln-db-backend/data/db/
vuln-db-backend/data/db/.gitkeep
*.pyc
**/__pycache__/
